{% extends "layout.html" %}

{% block title %}
	Inicio
{% endblock %}

{% block scripts %}
	<script src="https://kit.fontawesome.com/9f731bc064.js" crossorigin="anonymous"></script>
{% endblock %}

{% block main %}
	<h2 class="border-bottom text-center mb-3">Inicio</h2>
	<div class="d-flex justify-content-between align-items-center">
		<h1 class="display-5"><i class="fas fa-clipboard pr-3"></i></i>Asistencia</h1>
		<a class="btn btn-primary" href="{{ url_for('asistencia')}}" role="button">Ir a la página</a>
	</div>
	<hr class="my-4">
	<div class="d-flex justify-content-between align-items-center">
		<h1 class="display-5"><i class="fas fa-list-ul pr-3"></i>Lista de asistencia</h1>
		<a class="btn btn-primary" href="{{ url_for('asistencia_lista')}}" role="button">Ir a la página</a>
	</div>
	<hr class="my-4">
	<div class="d-flex justify-content-between align-items-center">
		<h1 class="display-5"><i class="fas fa-file-excel pr-3"></i>Exportar a Excel</h1>
		<a class="btn btn-primary" href="{{ url_for('exportar')}}" role="button">Ir a la página</a>
	</div>
{% endblock %}
