{% extends "layout.html" %}

{% block title %}
	Reemplazar profesor
{% endblock %}

{% block scripts %}
	<script src="static/js/resultsBox.js"></script>
	<script src="static/js/scripts.js"></script>
	<link rel="stylesheet" href="static/css/resultsBox.css">
{% endblock %}

{% block main %}
	<h2 class="border-bottom">Reemplazar profesor de una clase</h2>
	<form action="{{ url_for('reemplazar_prof') }}" method="POST">
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.clase.label }}
			{{ form.clase(autofocus=true, id="clase_input", class="form-control", 
				autocomplete="off", placeholder="Buscar clase...") }}
			<div style="display: none;" id="clase_resultados" class="search-suggestion"></div>
		</div>
		<div class="form-group">
			{{ form.nuevo_prof.label }}
			{{ form.nuevo_prof(id="nuevo_prof_input", class="form-control", 
				placeholder="Buscar profesor...", autocomplete="off") }}
			<div style="display: none;" id="nuevo_prof_resultados" class="search-suggestion"></div>
		</div>
		<div class="form-group">
			{{ form.submit(id="form_btn", class="btn btn-outline-info") }}
		</div>
	</form>
	<script>
		config_caja_resultados("clase", "#clase_resultados", "#clase_input");
		config_caja_resultados("profesor", "#nuevo_prof_resultados", "#nuevo_prof_input");
	</script>
{% endblock %}